.warper {
	display: flex;
	gap: 15px;
	cursor: pointer;
	padding: 15px 20px;
	border-left: 3px solid transparent;
}
.warper:hover,
.warper.active {
	background: #333333;
	border-color: #007aff;
}
.titleDiv {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 75%;
}

.title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: #ffffff;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	line-clamp: 2;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.subtitle {
	font-size: 13px;
	line-height: 1;
	color: #828282;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	line-clamp: 1;
	-webkit-line-clamp: 1;
	overflow: hidden;
}
